.piechart-container {
    background-color: #FBFBFB;
    margin-left: 20px;
    width: 262px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piechart-title {
    color: #20253A;
    font-size: 15px;
    position: absolute;
    margin-left: 40px;
    bottom: 115px;
}

.div-score {
    color: #74798C;
    position: absolute;
}

.score {
    color: #282D30;
    font-size: 30px;
    font-weight: 600;
}