.container {
    max-width: 1440px;
    min-width: 300px;
    margin: auto;
}

.global-div {
    display: flex;
}

.right-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.User {
    margin-left: 170px;
    margin-top: 150px;
}

.flex-div {
    display: flex;
}

/* Responsive 1024 per 780 px */
@media screen and (max-width: 1280px) {
    .global-div {
        flex-direction: column;
    }

    .left-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .User {
        text-align: center;
        margin-left: 0px;
    }
}

/* Responsive tablet */
@media screen and (max-width: 930px) {
    .flex-div {
        flex-direction: column;
        margin-left: 80px;
    }

    .User {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 100px;
    }

    .User>p {
        width: 300px;
    }
}

/* Responsive mobile */
@media screen and (max-width: 430px) {
    .User {
        margin-left: 70px;
    }

    .flex-div {
        flex-direction: column;
        margin-left: 0px;
    }

    .flex-div>div {
        margin-left: 70px;
    }
}