.global-div {
    display: flex;
}

.right-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.User {
    margin-left: 170px;
    margin-top: 150px;
}

.flex-div {
    display: flex;
}